<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="power_APP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <power_APP.Properties.Settings>
            <setting name="clock_user" serializeAs="String">
                <value />
            </setting>
            <setting name="message_user" serializeAs="String">
                <value />
            </setting>
            <setting name="exe_user" serializeAs="String">
                <value />
            </setting>
            <setting name="everyday_minute" serializeAs="String">
                <value />
            </setting>
            <setting name="everyday_hour" serializeAs="String">
                <value />
            </setting>
            <setting name="everyday_second" serializeAs="String">
                <value />
            </setting>
            <setting name="is_every" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Shutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Signout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OffScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMessage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Perform_tasks" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Remind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="is_point_time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="point_minute" serializeAs="String">
                <value />
            </setting>
            <setting name="point_hour" serializeAs="String">
                <value />
            </setting>
            <setting name="point_second" serializeAs="String">
                <value />
            </setting>
            <setting name="year" serializeAs="String">
                <value />
            </setting>
            <setting name="month" serializeAs="String">
                <value />
            </setting>
            <setting name="day" serializeAs="String">
                <value />
            </setting>
            <setting name="date" serializeAs="String">
                <value />
            </setting>
        </power_APP.Properties.Settings>
    </userSettings>
</configuration>